@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-arrow{
    -webkit-appearance: inherit;
    -moz-appearance: inherit;
    text-indent: 1px;
    text-overflow: "";
  }
  .xxx{
    animation: typing 3s steps(40) infinite;  
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }